<div class="container my-5">
  <%= link_to 'Go to restaurant list', restaurants_path %>
  <div class="flex-center mt-4" data-controller="counter">
    <div class="counter">
      <span data-counter-target="count"><%= @restaurant_count %></span>
    </div>
  </div>
</div>
