<div class="container my-5">
  <h1>Restaurants</h1>

  <ul class="p-0 mb-4">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant), class:'text-decoration-none' do %>
        <div class="card-product my-3">
          <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2018/12/Shakshuka-19-500x500.jpg" />
          <div class="card-product-infos text-dark">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>

  <%= link_to 'Back to Home page', root_path %>
</div>
